#about-me {
	color: white;
	margin-right: auto;
}

.profile-img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.profile-info {
	text-align: center;
	display: block;
	margin: auto;
}

.profile-info h1 {
	font-size: 45px;
}

.profile-info p {
	font-size: 20px;
}

.bttn-social {
	font-size: 28px;
	line-height: 46px;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	border-radius: 100%;
	background-color: black;
	color: red;
	transition: all 0.2s;
}

.bttn-social:hover {
	color: black;
	background-color: red;
	text-decoration: none;
}

.document-links {
	padding-top: 10px;
	padding-bottom: 20px;
}

.document-links .bttn {
	border-color: white;
	background-color: white;
	color: black;
}

.document-links .bttn:hover {
	background-color: black;
	color: white;
}

.documents-container {
	text-align: center;
}

.document-view {
	.hide {
		transition: max-height 0.1s ease-out;
		max-height: 0;
		overflow: hidden;
	}

	.show {
		transition: max-height 0.1s ease-in;
		max-height: 1000px;
	}
}

@media screen and (min-width: 992px) {
	.bttn-social {
		font-size: 35px;
		line-height: 55px;
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 767px) {
	.profile-img {
		width: 70%;
	}

	.profile-info {
		padding-top: 20px;
	}

	.bttn-social {
		font-size: 35px;
		line-height: 55px;
		width: 60px;
		height: 60px;
	}

	.document-view {
		width: 100%;
	}
}
