#about-me {
	color: white;
	margin-right: auto;
}

.profile-img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.profile-info {
	text-align: center;
	display: block;
	margin: auto;

	h1 {
		font-size: 45px;
	}

	p {
		font-size: 20px;
	}
}

.document-links {
	padding-top: 10px;
	padding-bottom: 20px;
	display: none;

	.bttn {
		border-color: white;
		background-color: white;
		color: black;

		&:hover {
			background-color: black;
			color: white;
		}
	}
}

.documents-container {
	text-align: center;
}

.document-view {
	.hide {
		transition: max-height 0.1s ease-out;
		max-height: 0;
		overflow: hidden;
	}

	.show {
		transition: max-height 0.1s ease-in;
		max-height: 1000px;
	}
}

@media screen and (max-width: 767px) {
	.profile-img {
		width: 70%;
	}

	.profile-info {
		padding-top: 20px;
	}

	.document-view {
		width: 100%;
	}
}
